

*{

    font-family:Arial, Helvetica, sans-serif;

}


.form-container{

    color: rgb(226, 217, 217);
    margin-top: 40px;
    background:linear-gradient(45deg, #273238, #aa6fdd);
    height: 960px;
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 4px 19px 17px rgba(0, 0, 255, .2);

}

.input{

    background-color:  #273238;
    width:510px;
    height: 27px;
    margin-top:21px;
    border-radius: 5px;


}
.textarea{
    margin-top:25px;
    background-color: #273238;
    width:510px;

}
.radio{
    margin-top: 10px;
}
.btn{
    width:510px;
    border-radius: 5px;
    background-color:  rgb(19, 143, 247);
    color: rgb(248, 245, 245);
    margin-top: 25px;
    height: 35px;


}
.form-container2{

    color:  rgb(226, 217, 217);
    margin-top: 40px;
    background:linear-gradient(45deg, #273238, #aa6fdd);
    height: 360px;
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 4px 19px 17px rgba(0, 0, 255, .2);

}
.btn-sesion{
    

    padding: 14px 25px;
    background: rgb(19, 143, 247);
    border: 1px solid #1161B0;
    color: #fff;
    margin-top:13px;
    border-radius: 4px;
    text-decoration:none;


}