

*{

    font-family:Arial, Helvetica, sans-serif;

}

body{

    background: linear-gradient(45deg, #273238, #aa6fdd);
    margin:90px;
    padding:0;

}

.form-container{

    color:  rgb(12, 66, 111);
    margin-top: 40px;
    background:white;
    height:1000px;
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 4px 19px 17px rgba(0, 0, 255, .2);

}

.input{

    background-color:  #ffffff;
    width:510px;
    height: 40px;
    margin-top:21px;
    border-radius: 5px;
    border-color:  rgb(12, 66, 111);;


}
.textarea{
    margin-top:25px;
    background-color: #ffffff;
    width:510px;

}
.radio{
    margin-top: 20px;
    
}

.btn{
    width:510px;
    border-radius: 5px;
    background-color:  #273238;
    color: rgb(248, 245, 245);
    margin-top: 25px;
    height: 35px;


}
.form-container2{

    color:  rgb(12, 66, 111);;
    margin-top: 40px;
     background:white;
    height: 360px;
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 4px 19px 17px rgba(0, 0, 255, .2);

}
.btn-sesion{
    

    padding: 14px 25px;
    background: #273238;
    border: 1px solid #273238;
    color: #fff;
    margin-top:13px;
    border-radius: 4px;
    text-decoration:none;


}
p{
    margin-bottom: 30px;
}